.top-nav {
  margin-bottom: 20px;
  background-color: #0F83B2;
  position: relative;
  color: white;
}

.top-nav::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: -1;
  background: radial-gradient(circle at 20px 20px, #0F83B2 65%, transparent 20%) repeat-x;
  background-size: 40px 45px;
}

.custom-height {
  height: inherit;
}


.logo {
  width: 144px;
  height: 53px;

}

nav {
  height: 174px;
  margin-top: 40px;

}

.cart-icon {
  position: relative;
  display: inline-block;
  font-size: 24px;
  color: #333;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #d4b140;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon {
  font-size: 18px;
  color: #fff;
  background-color: #0F83B2;
  padding: 5px 9px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
