<footer class="d-flex align-items-center">
  <div class="container  custom-container">
    <div class="row gy-4">
      <div class="col-lg-3 d-flex flex-column gap-2">
        <div class="logo">
          <img src="assets/logo.png" alt="logo" class="w-100">
        </div>
        <p>Nunc consequat interdum varius sit amet mattis.</p>
        <div class="social-media">
          <a href="https://instagram.com"><i class="fa-brands fa-square-instagram"></i></a>
          <a href="https://x.com" ><i class="fa-brands  fa-square-twitter"></i></a>
          <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://pinterest.com"><i class="fa-brands fa-pinterest"></i></a>
        </div>
      </div>
      <div class="col-md-3 d-flex flex-column gap-2">
        <h5>My Account</h5>
        <a href="">Track my order</a>
        <a href="">Terms of use</a>
        <a href="">Submit your feedback</a>
      </div>
      <div class="col-md-3 d-flex flex-column gap-2">
        <h5>Customer service</h5>
        <a href="">Monday to friday</a>
        <a href="">10am to 6pm (Cairo time)</a>
        <a href="">Call us: <span>+20 0123456789</span>
        </a>
        <a href="">Email us: <span>rainbowRattles@gmail.com</span>
        </a>

      </div>
    </div>
  </div>
</footer>
