.custom-container {
  width: 90%;
  max-width: 100%;

}

img {
  width: 100%;
}

* {
  font-family: "Comfortaa", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}